html, body {
  margin: 0;
  height: 100%;
}
body {
  padding-top: 400px;
  padding-left: 500px;
  padding-right: 500px;
  background: url(../img/background.jpg) no-repeat top center ; 
  background-size: auto ;
  background-color: #E0EFF0
}
ul {
  margin-bottom: 30px;
  text-align: center;
}
li {
  display: inline-block;
  margin-left: 90px;
} 
.btn {
 color: black;
 font-size: 1em;
 padding: 10px 20px;
 text-decoration: none;
 border: thin solid gray;
 background: linear-gradient(#18b6dd, #ffffff);
}
h1
{
background-color:#1E90FF;
text-shadow:shadow1,shadow2,shadow3;
text-shadow:4px 3px 0px #FFF,9px 8px 0px rgba(0,0,0,0,15);
}
h2
{
background-color:#babdb6;
}
.btnn {
color: black;
font-size: 1.2em;
padding: 7px 10px;
text-decoration: none;
border: thin solid gray;
background: linear-gradient(#f7f7f7, #dedede);
}
/* Messages */
.success {
color: blue;
}
.error {
color: red;
}
.inlineBlock {
display: inline-block;
}