html, body {
  margin: 0;
  height: 100%;
}
body {
  padding: 250px;
  background: url(../img/background.jpg) no-repeat top center ; 
  background-size: cover ;
}
ul {
  margin-bottom: 50px;
  text-align: center;
}
li {
  display: inline-block;
  margin-left: 90px;
} 
