<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>訂單系統</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
{% include 'main/topmenu.html' %}
{% include 'main/menu.html' %}
<h2>新增訂單</h2>
{% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
{% endfor %}
<form method="post" action="{% url 'order:orderCreate' %}">
  {% csrf_token %}
  <table>
    {{ orderForm.as_table }}
  </table>
  <input class="btnn" type="submit" value="送出">
  <a class="btnn" href="{% url 'order:order' %}">放棄</a>
</form>
</body>
</html>