<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>最新消息</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
{% include 'main/menu.html' %}
<h1>最新消息</h1>
{% include 'main/searchForm.html' %}
<br><br><hr>
{% if not mains %}
<p>查無資料</p>
{% else %}
  <table class="table table-striped table-hover">
    <tr><th>標題</th><th>發表時間</th></tr>
    {% for main in mains %}
    <tr>
      <td><a href="{% url 'main:mainRead' main.id %}">{{ main.title }}</a></td>
      <td>{{ main.pubDateTime|date:'Y-m-d H:i' }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}
</body>
</html>